<md-content class="md-primary" layout="row">
    <div>
        <md-input-container>
            <label>Title</label>
            <input ng-model="todo.title">
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <label>Message</label>
            <textarea ng-model="todo.message"> </textarea>
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <label>When</label>
            <md-datepicker ng-model="todo.date"></md-datepicker>
        </md-input-container>
    </div>
</md-content>